---
import Card from '@components/ui/Card.astro';
import { getCollection } from 'astro:content';
import projectGifs from '@assets/images/gifsApp.jpg';
import projectCountry from '@assets/images/CountryApp.jpg';

const projects = await getCollection('projects', ({ data }) => {
	return !data.inProgress;
});
---

<section
	data-testid="projects"
	id="projects"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen"
>
	<h2 class="font-monospace text-2xl text-yellow lg:text-4xl">Proyectos</h2>
	<span class="mb-10 h-1 w-10 bg-yellow"></span>
	<!-- 	<div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
		{
			projects.map((project) => (
				<Card
					url={project.data.link}
					title={project.data.title}
					alt={project.data.img_alt}
					tags={project.data.tags}
					image={project.data.image[0]}
				/>
			))
		}
	</div> -->
	<div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
		<Card
			url="https://github.com/harold979/Gifs-App-Angular"
			title="GifsApp"
			alt="GifsApp"
			tags={['Angular', 'Javascript', 'CSS']}
			image={projectGifs}
		/>
		<Card
			url="https://github.com/harold979/Gifs-App-Angular"
			title="CountryApp"
			alt="CountryApp"
			tags={['Angular', 'Javascript', 'CSS']}
			image={projectCountry}
		/>
	</div>

	<a
		href="https://github.com/"
		target="_blank"
		rel="noopener"
		class="flex flex-row text-black hover:text-yellow dark:text-white dark:hover:text-yellow"
		aria-label="link to repository"
	>
		Ver archivos completos de proyectos privados
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="ml-1 h-6 w-6"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
		</svg>
	</a>
</section>
